<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.maket.mapper.StudentMapper" >
    <resultMap id ="StudentMap" type="com.maket.vo.Student">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="address" property="address"/>
    </resultMap>

    <select id="getStuList" resultMap="StudentMap">
        select
        	id,
        	name,
        	address
        from
        	student;
    </select>
</mapper>